.PageWrapper {
	margin: 0 auto;
	max-width: 1040px;
	padding: 0 25px;
}
.HeaderOneStyle {
	font-size: 70px;
	font-weight: normal;
}

.ArticleCardWrapper{
	align-items: flex-start;
	border: 1.5px solid black;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 40px;
	padding: 20px;
}

.AricleCardImage{
	flex-basis: 25%;
}

.AricleCardImage img{
	height: 200px;
	width: 100%;
	padding-left: 10px;
}

.ArcileCardText{
	flex-basis: 75%;
	padding-left: 35px;
}

.ArcileCardTitle{
	font-size: 32px;
	font-weight: bold;
	margin: 0;
}

.ArcileCardDate{
	font-size: 16px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.ArcileCardBlub{

}

.ArcileCardLink{
	font-size: 16px;
	font-weight: bold;
}